<div class="container">
<span class="d-flex align-items-center">
  <mat-icon class="mr-1">account_circle</mat-icon>
  Cliente
</span>
<table style="width:100%">
  <tr>
    <th>Nombre</th>
    <th>Email</th>
    <th>Telefono</th>
  </tr>
  <tr>
    <td>Nombre Apellido</td>
    <td>cliente@email.com</td>
    <td>+54 (0) 261 423 4234</td>
  </tr>
</table>
<span class="d-flex align-items-center">
  <mat-icon class="mr-1">access_time</mat-icon>
  Estado de la orden
</span>
<span class="d-flex align-items-center">
  <mat-icon class="mr-1">credit_card</mat-icon>
  Pago
</span>
<span class="d-flex align-items-center">
  <mat-icon class="mr-1">local_shipping</mat-icon>
  Envío
</span>
</div>
