<div mat-dialog-title class="d-flex justify-content-between align-items-end app-dialog">
  <span class="app-dialog-title"> Orden 1.000.000 </span>
  <button mat-button mat-icon-button (click)="onCancel()">
    <mat-icon> close </mat-icon>
  </button>
</div>
<mat-dialog-content class="app-content mx-0">
  <mat-tab-group>
    <mat-tab label="Detalles">
      <app-customer></app-customer>
      <app-status></app-status>
      <app-payment></app-payment>
      <app-shipping></app-shipping>
    </mat-tab>
    <mat-tab label="Productos">
      <app-notes></app-notes>
      <app-detail></app-detail>
    </mat-tab>
    <mat-tab label="Factura">
      <app-invoice></app-invoice>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
