<span class="d-flex align-items-center my-3 subtitle">
  <mat-icon class="material-icons-outlined mr-1">account_circle</mat-icon>
  Cliente
</span>
<mat-table [dataSource]="customerDataSource" class="mb-4">
  <ng-container *ngFor="let def of customerColumns" [matColumnDef]="def">
    <mat-header-cell *matHeaderCellDef> {{ def | uppercase }} </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row[def]}} </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="customerColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: customerColumns"></mat-row>
</mat-table>
