<span class="d-flex align-items-center my-3 subtitle">
  <mat-icon class="mr-1">credit_card</mat-icon>
  Pago
</span>
<mat-table [dataSource]="paymentDataSource" class="mb-4">
  <ng-container *ngFor="let def of paymentColumns" [matColumnDef]="def">
    <mat-header-cell *matHeaderCellDef> {{ def | uppercase }} </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row[def]}} </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="paymentColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: paymentColumns"></mat-row>
</mat-table>
