<app-dialog title="Editar contraseña">
  <mat-form-field class="w-100 pt-3 pb-2">
    <mat-label>Contraseña actual</mat-label>
    <input matInput required [type]="hideCurrentPassword ? 'password' : 'text'" formControlName="currentPassword"
      placeholder="Ingrese su contraseña actual.">
    <mat-icon class="material-icons-outlined" matSuffix (click)="hideCurrentPassword = !hideCurrentPassword">
      {{hideCurrentPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
  <mat-form-field class="w-100 pb-2">
    <mat-label>Nueva contraseña</mat-label>
    <input matInput required type="password" formControlName="newPassword" placeholder="Ingrese su nueva contraseña.">
  </mat-form-field>
  <mat-form-field class="w-100 pb-2">
    <mat-label>Confirmé su nueva contraseña</mat-label>
    <input matInput required type="password" formControlName="confirmPassword" placeholder="Confirmé su nueva contraseña.">
  </mat-form-field>
  <mat-dialog-actions align="end" class="mb-3">
    <button mat-button [mat-dialog-close]="true">Cancel</button>
    <button mat-flat-button cdkFocusInitial color="primary">
      Guardar cambios
    </button>
  </mat-dialog-actions>
</app-dialog>
