* {
  font-size: 14px;
  color: #0000008a;
  line-height: 1.4 !important;
  letter-spacing: -0.1px !important;
}

.app-card {
  padding: 64px 88px;
}

.invoice-date {
  font-size: 16px;
  margin-bottom: 32px;
  line-height: 19.6px;
}

.customer {
  align-self: center;
}
.invoice-number .title {
  font-size: 18px;
}
.invoice-number .number {
  font-size: 18px;
  padding-left: 6px;
  color: #000000de;
}

.accent {
  background-color: #ffb300 !important;
  margin-right: -88px;
}

.issuer .logo {
  width: 96px;
  padding: 0 8px;
  align-self: center;
  border-right: 1px solid #0000008a;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.issuer .info {
  padding: 16px;
  font-weight: 500;
}

.mat-column-precio,
.mat-column-cantidad,
.mat-column-total {
  flex: 0 0 120px !important;
  display: flex;
  justify-content: flex-end;
}

.mat-footer-cell {
  font-size: 22px !important;
  color: rgba(0, 0, 0, 0.87);
  padding-top: 24px;
  padding-bottom: 24px;
}
