<span class="d-flex align-items-center my-3 subtitle">
  <mat-icon class="material-icons-outlined mr-1">moped</mat-icon>
  Envío
</span>
<mat-accordion>
  <mat-expansion-panel [disabled]="!data.delivery" [class]="!data.delivery ? 'mb-4' : ''">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{data.delivery ? 'Envío: A domicilio' : 'Envío: A retirar'}}
      </mat-panel-title>
      <mat-panel-description>
        {{data.delivery ? address : ''}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <agm-map [latitude]="data.direccionEntrega.latitud" [longitude]="data.direccionEntrega.longitud" [zoom]="zoom">
      <agm-marker [latitude]="data.direccionEntrega.latitud" [longitude]="data.direccionEntrega.longitud"></agm-marker>
    </agm-map>

  </mat-expansion-panel>
  <mat-expansion-panel [hidden]="!data.delivery" class="mb-4">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Portador
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-table [dataSource]="carrierDataSource">
      <ng-container *ngFor="let def of carrierColumns" [matColumnDef]="def">
        <mat-header-cell *matHeaderCellDef> {{ def | uppercase }} </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row[def]}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="carrierColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: carrierColumns"></mat-row>
    </mat-table>
  </mat-expansion-panel>
</mat-accordion>

<!--
  "direccionEntrega": {
    "id": 3,
    "ultimaActualizacion": null,
    "oculto": false,
    "eliminado": false,
    "calle": "San Martin",
    "departamento": null,
    "localidad": {
      "id": 1,
      "ultimaActualizacion": null,
      "nombre": "Mendoza",
      "provincia": {
        "id": 1,
        "nombre": "Mendoza",
        "pais": {
          "id": 1,
          "nombre": "Argentina"
        }
      }
    },
    "numero": 1254,
    "piso": null,
    "aclaraciones": "Casa roja de rejas negras",
    "alias": "Casa",
    "latitud": 0,
    "longitud": 0
  },
  "repartidor": null
} -->
