<mat-toolbar class="mat-elevation-z1" *ngIf="visible">
  <!-- Logo Image -->
  <img class="logo-icon" src="assets/images/logos/logo.png">
  <span class="mx-2">El Buen Sabor</span>
  <!-- Spacer -->
  <div class="mr-auto"></div>
  <div *ngIf="userExists">
    <!-- User Button -->
  <button mat-button class="toolbar-button" [matMenuTriggerFor]="menu">
    <div class="mat-button-wrapper">
      <img src="assets/images/avatars/cashier.png" class="avatar">
      <span class="mx-2"> Nombre Apellido </span>
      <mat-icon class="material-icons-outlined" class="material-icons-outlined s-16">
        keyboard_arrow_down</mat-icon>
    </div>
    <div matripple="" class="mat-ripple mat-button-ripple"></div>
    <div class="mat-button-focus-overlay"></div>
  </button>
  <!-- User Menu -->
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/cashier">
      <!-- <mat-icon class="material-icons-outlined">assignment</mat-icon> -->
      <mat-icon class="material-icons-outlined">point_of_sale</mat-icon>
      <span>Cajero</span>
    </button>
    <button mat-menu-item routerLink="/kitchen">
      <mat-icon class="material-icons-outlined">restaurant</mat-icon>
      <span>Cocina</span>
    </button>
    <button mat-menu-item routerLink="/admin">
      <mat-icon class="material-icons-outlined">insert_chart</mat-icon>
      <span>Administrador</span>
    </button>
    <button mat-menu-item routerLink="/manufactured">
      <mat-icon class="material-icons-outlined">storefront</mat-icon>
      <span>Manufacturados</span>
    </button>
    <button mat-menu-item routerLink="/supplies">
      <mat-icon class="material-icons-outlined">shopping_basket</mat-icon>
      <span>Insumos</span>
    </button>
    <button mat-menu-item routerLink="/my-profile">
      <mat-icon class="material-icons-outlined">account_circle</mat-icon>
      <span>Mi perfil</span>
    </button>
    <button mat-menu-item routerLink="/index">
      <mat-icon class="material-icons-outlined">exit_to_app</mat-icon>
      <span>Cerrar sesión</span>
    </button>
  </mat-menu>
  </div>
</mat-toolbar>
<!-- Toolbar End -->
