<div class="card container col-9 my-5 px-0">
  <!-- Header -->
  <div class="header d-flex justify-content-between">
    <!-- Title -->
    <div class="row d-flex align-items-center">
      <button mat-mini-fab disabled class="mr-3">
        <mat-icon class="material-icons-outlined">{{ icon }}</mat-icon>
      </button>
      <h1>{{ title }}</h1>
      <!-- Button -->
      <button mat-stroked-button class="ml-3" *ngIf="router" [routerLink]="[router]">
        {{ routerText }}
      </button>
    </div>
    <div class="row d-flex align-items-center">
      <!-- Search -->
      <div class="app-search ml-3">
        <input matInput placeholder="Buscar..." #input>
        <mat-icon class="material-icons-outlined" matSuffix>search</mat-icon>
      </div>
      <!-- Button -->
      <button mat-flat-button color="primary" class="ml-3" *ngIf="formDialog" (click)="onSubmit({})">
        <mat-icon class="material-icons-outlined" [inline]="true">add</mat-icon> Añadir
      </button>
    </div>
  </div>
  <hr class="m-0">
  <div>

    <!-- Progress Bar -->
    <div class="progress-bar">
      <mat-progress-bar mode="query" *ngIf="dataSource.loading$ | async"></mat-progress-bar>
    </div>

    <mat-table matSort matSortDisableClear="true" [dataSource]="dataSource">

      <ng-container *ngFor="let column of tableColumns" [matColumnDef]="column.columnDef" [ngSwitch]="true">
        <!-- SwitchCase number -->
        <ng-container
          *ngSwitchCase="column.columnDef === 'telefono' || column.columnDef === 'ordenes' || column.columnDef === 'id'">
          <mat-header-cell mat-sort-header *matHeaderCellDef> {{ column.header  | uppercase }} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ column.cell(row) | number }} </mat-cell>
        </ng-container>
        <!-- SwitchCase currency -->
        <ng-container
          *ngSwitchCase="column.columnDef ==='precio' || column.columnDef === 'costo' || column.columnDef === 'monto'">
          <mat-header-cell mat-sort-header *matHeaderCellDef> {{ column.header  | uppercase }} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ column.cell(row) | currency }} </mat-cell>
        </ng-container>
        <!-- SwitchCase imagen -->
        <ng-container *ngSwitchCase="column.columnDef ==='imagen'">
          <mat-header-cell *matHeaderCellDef> {{ column.header  | uppercase }} </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <img onerror="this.src='assets/images/cards/card.jpg'" [src]="column.cell(row)">
          </mat-cell>
        </ng-container>
        <!-- SwitchCase date -->
        <ng-container *ngSwitchCase="column.columnDef === 'fecha'">
          <mat-header-cell mat-sort-header *matHeaderCellDef> {{ column.header  | uppercase }} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ column.cell(row) | date:'dd-MM-yyyy' }} </mat-cell>
        </ng-container>
        <!-- SwitchCase public -->
        <ng-container *ngSwitchCase="column.columnDef === 'oculto'">
          <mat-header-cell mat-sort-header *matHeaderCellDef> {{ column.header  | uppercase }} </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-icon class="material-icons" [class]="getPublicClass(row)">stop_circle</mat-icon>
          </mat-cell>
        </ng-container>
        <!-- SwitchCase category -->
        <ng-container *ngSwitchCase="column.columnDef === 'categoria' || column.columnDef === 'rubro'">
          <mat-header-cell mat-sort-header *matHeaderCellDef> {{ column.header  | uppercase }} </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span class="status-chip ml-1"> {{ column.cell(row) }} </span>
          </mat-cell>
        </ng-container>
        <!-- SwitchCase default -->
        <ng-container *ngSwitchDefault>
          <mat-header-cell mat-sort-header *matHeaderCellDef> {{ column.header  | uppercase }} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{ column.cell(row) }} </mat-cell>
        </ng-container>
      </ng-container>

      <!-- Action column -->
      <ng-container matColumnDef="acciones" *ngIf="formDialog">
        <mat-header-cell *matHeaderCellDef> ACCIONES </mat-header-cell>
        <mat-cell *matCellDef="let item" (click)="$event.stopPropagation()">
          <!-- Action Button -->
          <button mat-button mat-icon-button matTooltip="More actions" [matMenuTriggerFor]="menu">
            <mat-icon class="material-icons-outlined">more_horiz</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before" class="px-1">
            <!-- Update Button -->
            <button mat-menu-item (click)="onSubmit(item)">
              <mat-icon class="material-icons app-menu-icon">edit</mat-icon>
              <span>Editar</span>
            </button>
            <!-- Delete Button -->
            <button mat-menu-item (click)="onDelete(item)">
              <mat-icon class="material-icons app-menu-icon">delete</mat-icon>
              <span>Eliminar</span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="formDialog ? displayedColumns.concat('acciones') : displayedColumns">
      </mat-header-row>
      <mat-row class="table-row"
        *matRowDef="let item; columns: formDialog ? displayedColumns.concat('acciones') : displayedColumns"
        (click)="onRead(item)">
      </mat-row>
    </mat-table>

    <mat-paginator showFirstLastButtons [length]="dataSource.length$ | async" [pageSize]="8"
      [pageSizeOptions]="[4, 8, 12]">
    </mat-paginator>
  </div>
</div>
