<app-dialog title="Orden N° {{ localData.id | number }}">
  <mat-tab-group>
    <mat-tab label="Detalles">
      <app-customer [data]="localData.cliente"></app-customer>
      <app-status [data]="localData.estado"></app-status>
      <app-payment></app-payment>
      <app-shipping></app-shipping>
    </mat-tab>
    <mat-tab label="Productos">
      <app-notes></app-notes>
      <app-detail></app-detail>
    </mat-tab>
    <mat-tab label="Factura">
      <app-invoice></app-invoice>
    </mat-tab>
  </mat-tab-group>
  {{ localData | json}}
</app-dialog>
